	.b{
  width: 950px;
  border: 5px solid black;
  padding: 25px;
  margin: auto;
  height: 410px;
  position: absolute;
  top:-90px;
  bottom: 0px;
  left: 0px;
  right:0px;
  border-radius: 10px;
  padding-bottom: 30px;
}
.ka{
	width: 450px;
  border: 5px solid black;
  padding: 0.5px;
  margin: auto;
  height: 50px;
  position: absolute;
  top:-550px;
  bottom: 0px;
  left: 0px;
  right:0px;
  border-radius: 10px;
  background-color: #4d9900;
  

}

.ka li
{
	display: inline;
    
    list-style-type: none;
    
    padding: 9px 0px;

    

}
img {
  
  
  transition: transform .2s; /* Animation */
  
  margin: 0 auto;
}

img:hover{
	transform: scale(1.5);

}
.ka ul
{

	display: inline;
    align-items: stretch; /* Default */
    justify-content: space-between;
    width: 100%;
    background: #fafafa;
    margin: 0;
    padding: 0;
    
    
}
.booking-form.form-label{
  display: inline-block;
}
.booking-form {
 
  padding: 30px 350px;
  -webkit-box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 5px 20px -5px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.booking-form .form-group {
  position:relative;
  margin-bottom: 03px;
  display: inline-block;
}
.booking-form .form-control {
  background-color: #ebecee;
  border-radius: 4px;
  border: none;
  height: 40px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3e485c;
  font-size: 14px;
}
.booking-form .form-control::-webkit-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}
.booking-form .form-control:-ms-input-placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form .form-control::placeholder {
  color: rgba(62, 72, 92, 0.3);
}

.booking-form input[type="date"].form-control:invalid {
  color: rgba(62, 72, 92, 0.3);
}
.booking-form select.form-control {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.booking-form select.form-control+.select-arrow {
  position: absolute;
  right: 0px;
  bottom: 4px;
  width: 32px;
  line-height: 32px;
  height: 32px;
  text-align: center;
  pointer-events: none;
  color: rgba(62, 72, 92, 0.3);
  font-size: 14px;
}

.booking-form select.form-control+.select-arrow:after {
  content: '\279C';
  display: block;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}


.booking-form .form-label {
  display: inline-block;
  color: #3e485c;
  font-weight: 700;
  margin-bottom: 6px;
  margin-left: 7px;
}

.booking-form .submit-btn {
  display: inline-block;
  color: #fff;
  background-color: #1e62d8;
  font-weight: 700;
  padding: 14px 30px;
  border-radius: 4px;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}
.booking-form .submit-btn:hover,
.booking-form .submit-btn:focus {
  opacity: 0.9;
}


.section {
  position: relative;
  height: 100vh;
}

.section .section-center {
  position: absolute;
  top:30%;
  left: 0;
  right: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

#booking {
  font-family: 'Montserrat', sans-serif;
  background-size: cover;
  background-position: center;
}

#booking::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  
}


input[type="submit"] {
  border:2px solid green;
  padding:5px 20px;
  font-size:30px;
  background:linear-gradient(#4d9900  ,green) center/100% 0px no-repeat;
  transition:0.5s all linear;
}
input[type="submit"]:hover {
  background-size:100% 100%;
}